@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


/* original code credit: https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
html {
    scroll-behavior: smooth;
}

/*--------------------------------------------Headings*/

.hero-text{
    text-align: center;
}


.sections-title {
    text-align: center;
}
/*--------------------------------------------Hero Image*/

.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*--------------------------------------------Nav bar*/

/* Centered section inside the top navigation original code https://www.w3schools.com/howto/howto_css_topnav_centered.asp */
@media (min-width: 990px){
#logo{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}


.navbar {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

/*--------------------------------------------Hero Image Text*/
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.landing-title{
    padding-top: 15%;
    padding-bottom: 15%;
}

.landing-subtitle{
    padding-top: 15%;
}

.start-btn {
    color: #003348;
    background-color: #F2B940;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 50px;
    padding-right: 20%;
    padding-left: 20%;
}


.arrow{
    color: #ffffff;
    font-size: xx-large;
}


/*--------------------------------------------Scroll up button*/
#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 2px solid #2196F3;
    color: dodgerblue;
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
    padding: 10px 17px;
    border-radius: 50%;
    margin: 4px 2px;
    }

#scrollButton:hover {
    background: #2196F3;
    color: white;
}



/*--------------------------------------------Check List Scroll */

.tab-pane{
    height: 550px;
    overflow-y: scroll;
}

.list-group-item{
    cursor: pointer;
}

.hideItem{
    display: none;
}

/*--------------------------------------------To Buy List Section */



#buy-card{
    width: 18rem;
    margin-left: 5%;
    margin-top: 5%;
}



/*--------------------------------------------Google Maps*/

/* To view map*/
#map {
    height: 500px;
    width: 100%;
}

/*--------------------------------------------Review carousel*/
.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}