


/* original code credit: https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
html {
    scroll-behavior: smooth;
}

/*--------------------------------------------Hero Image*/

.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*--------------------------------------------Check List Scroll */

.tab-pane{
    height: 550px;
    overflow-y: scroll;
}

.list-group-item{
    cursor: pointer;
}

.hideItem{
    display: none;
}



/*--------------------------------------------Google Maps*/

/* To view map*/
#map {
    height: 500px;
    width: 100%;
}

/*--------------------------------------------Review carousel*/
.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}